.bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.bottom-nav a{
    color: #000;
    text-decoration: none;
    opacity: 0.4;
}

.bottom-nav a.active{
    opacity: 1;
}