.title {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 56px clamp(96px, 8vw, 240px) 0 clamp(96px, 8vw, 240px);
    text-transform: lowercase;
    text-align: right;
    z-index: 50;

    max-width: 1600px;  /* maksimalna širina naslova */
    margin: 0 auto;      /* centriranje */
}

@media (max-width: 1024px) {
    .title {
        padding-left: 64px;
        padding-right: 64px;

        max-width: 100%;  
        margin: 0;         
    }
}

@media (max-width: 768px) {
    .title {
        padding-top: 20px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
