.title {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 56px clamp(96px, 8vw, 240px) 0px clamp(96px, 8vw, 240px);
    text-transform: lowercase;
    text-align: right;
    z-index: 50;
}

@media (max-width: 768px) {
    .title {
        padding-top: 24px;
        padding-left: 8px;
        padding-right: 8px;
    }
}