.biography-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.bio-image{
    width: 192px;
    height: 260px;
    object-fit: cover;
}

.biography-top{
    display: flex;
    gap: 20px;
}

.page-title{
    padding-top: 96px;
    margin-left: auto;
}