.exhibition-container{
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.exhibition-container img{
    max-width: 50%;
}

.left-img{
    align-self: flex-start;
}

.right-img{
    align-self: flex-end;
}

@media (max-width: 1024px) {
    .left-img{
        align-self: center;
    }

    .right-img{
        align-self: center;
    }
    .exhibition-container img{
        max-width: 80%;
    }
}