.nikolija{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.center-links{
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: flex-start;    
    align-items: flex-start;
}

.contact{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.home-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio{
    padding-left: 96px;
}