.nikolija{
    width: 100%;
    padding-top: 56px;
    display: flex;
    justify-content: flex-end;
}

.center-links{
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: flex-start;    
    align-items: flex-start;
}

.contact{
    width: 100%;
    padding-bottom: 56px;
    display: flex;
    justify-content: flex-end;
}

.home-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-link{
    padding-left: 96px;
}