.nikolija{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.center-links{
    display: inline-flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-start;
}

.contact-left{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-link{
    display: none;
}

.contact-mobile{
    display: none;
}

.home-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio{
    padding-left: 96px;
}

@media (max-width: 640px) {

    .home-container{
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: calc(100vh - 112px);
        align-items: center;
    }

    .home-top{
        align-self: start;
    }

    .home-center{
        display: grid;
        place-items: center;
    }

    .home-bottom{
        align-self: end;
    }

    .nikolija{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .center-links{
        gap: 24px;
    }

    .portfolio{
        padding-left: 144px;
    }

    .contact-mobile{
        display: block;
    }

    .contact-left{
        display: none;
    }
}
