.portfolio-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-transform: uppercase;
}
.portfolio-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.portfolio-link{
    cursor: pointer;
}
