
@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayRomanItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/fonnts.com-Suisse_Intl_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('/fonts/SnellRoundhand.ttc') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Suisse Intl';
}

.page-wrapper {
  padding: 56px 120px; 
  box-sizing: border-box;
  min-height: calc(100vh - 56px);     
  display: flex;
  flex-direction: column;
}

.pink{
  color: #EC9EAC;
}

.has-top {
  padding-top: 150px ;
}

.suisse-large{
  font-size: 48px;
}

.suisse-36{
  font-size: 36px;
}

.suisse-text{
  font-size: 20px;
}

.suisse-16{
  font-size: 16px;
}

.nikolija-large{
  font-size: 64px;
  font-family: 'Neue Haas Display';
  font-style: italic;
}

.nikolija-bio{
  font-size: 48px;
  font-family: 'Neue Haas Display';
  font-style: italic;
  opacity: 0.4;
}

.portfolio-large{
  font-family: 'Snell Roundhand';
  font-size: 96px;
}