
body {
  margin: 0;
  display: flex;
}

.page-wrapper {
  padding: 56px 120px; 
  box-sizing: border-box;
  min-height: calc(100vh - 56px);     
  display: flex;
  flex-direction: column;
}

.pink{
  color: #EC9EAC;
}

.has-top {
  padding-top: 150px ;
}

.suisse-large{
  font-size: 48px;
}

.suisse-36{
  font-size: 36px;
}

.suisse-text{
  font-size: 20px;
}

.suisse-16{
  font-size: 16px;
}

.nikolija-large{
  font-size: 64px;
  font-style: italic;
}

.nikolija-bio{
  font-size: 48px;
  font-style: italic;
  opacity: 0.4;
}

.portfolio-large{
  font-size: 96px;
}