@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayRomanItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/fonnts.com-Suisse_Intl_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('/fonts/SnellRoundhand.ttc') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Suisse Intl';
}

html {
  overflow-y: scroll;
}

.page-wrapper {
  padding: 56px clamp(96px, 8vw, 240px);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pink {
  color: #EC9EAC;
}

.has-top {
  padding-top: 120px;
  padding-bottom: 112px;
}

.suisse-large {
  font-size: 36px;
}

.suisse-36 {
  font-size: clamp(16px, 3vw, 36px);
}

.suisse-text {
  font-size: 20px;
}

.suisse-16 {
  font-size: 16px;
}

.nikolija-large {
  font-size: 64px;
  font-family: 'Neue Haas Display';
  font-style: italic;
}

.nikolija-bio {
  font-size: 48px;
  font-family: 'Neue Haas Display';
  font-style: italic;
  opacity: 0.4;
}

.portfolio-large {
  font-family: 'Snell Roundhand';
  font-size: 96px;
}


@media (max-width: 768px) {
  .page-wrapper {
    padding: 56px 8px;
    min-height: calc(100vh - 112px);
  }

  .has-top {
    padding-top: 56px;
    padding-bottom: 0px;
  }

  .nikolija-large {
    font-size: 36px;
  }

  .suisse-large {
    font-size: 24px;
  }

  .portfolio-large {
    font-size: 40px;
  }

  .suisse-text {
    font-size: 16px;
  }

  .suisse-36 {
    font-size: 28px;
  }

}

@media (min-width: 640px) and (max-width: 1024px) {
  .page-wrapper {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {

  .nikolija-large {
    font-size: 48px;
  }

  .suisse-text {
    font-size: 18px;
  }

  .suisse-large {
    font-size: 32px;
  }

  .portfolio-large {
    font-size: 72px;
  }
}
