.burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3000;
}


.burger-button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}


.burger-button span:nth-child(1) {
  top: 0;
}
.burger-button span:nth-child(2) {
  top: 10px;
}
.burger-button span:nth-child(3) {
  top: 20px;
}

.burger-button.open span {
  background: white;
}

.burger-button.open span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

.burger-button.open span:nth-child(2) {
  opacity: 0;
}

.burger-button.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}
